<p>
ID: <%= user.id %><br/>
Full name: <%= user.name.familyName %>, <%= user.name.givenName %><br/>
Display name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
